* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: black;
}

div {
	position: relative;
	

}
.one {
	position: relative;
	height: 200px;
	width: 200px;
	background-color: green;

}
.two {
	position: absolute;
	height: 200px;
	width: 200px;
	margin-top: -200px;
	background-color: blue;
 	display: none;
}
.three {
	position: absolute;
	height: 200px;
	width: 200px;
	margin-top: -200px;
	margin-left: 200px;
	background-color: yellow;
 	display: none;

}
.four {
	position: absolute;
	height: 200px;
	width: 200px;
	margin-top: -200px;
	margin-left: 400px;
	background-color: red;
 	display: none;

}
.five {
	position: absolute;
	height: 200px;
	width: 200px;
	margin-top: -200px;
	margin-left: 600px;
	background-color: purple;
 	display: none;

}
.six {
	position: absolute;
	height: 200px;
	width: 200px;
	margin-top: -200px;
	margin-left: 800px;
	background-color: orange;
 	display: none;

}